/* spinner.css */
.loader-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 50vh; /* Full height of the viewport */
}

.loader {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-top: 10px; /* Space between loader and text */
  font-size: 18px; /* Adjust font size as needed */
  color: #3498db; /* Match loader color */
}

/* Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
